.coins {
    color: white;
    background-color: #1C1C1C;
    margin-top: 3rem;
    padding: 2rem;
      border-radius: 2rem;
    margin-bottom: 3rem;
 }
.coins__para {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0rem;
    margin-right: 2rem;
}
.coins___head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 1.2rem;
    color: #878787;
    font-weight: 500;
    margin-top: 2rem;
    padding: 0.5rem;
    margin-left: 3rem;
 
}
.coins__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 1.2rem;
   font-weight:600;
    margin-top: 2rem;
    color: white;
    padding: 0.5rem;
    margin-left: 3rem;
}
.coins__bottom:hover {
color: rgba(255, 255, 255, 0.5);
cursor: pointer;
}
.coins__img {
width: 3rem;
margin-bottom: 1rem;
margin-right: 1rem;
}
.coin__button {
border: none;
background-color: #1C1C1C;
font-size: 1.5rem;
color: white;
padding: 1rem;
}
.coin__button:hover{
    background-image: linear-gradient(to right, #b102ce, #9604c1, #7b04b3, #6004a4, #440495);
      padding: 1rem;
    border-radius: 2rem;
  
  }
.coin__top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

  @media (max-width: 64em) {
    .coiin {
margin-top: 6rem;
margin-left: 3rem;
    }
 
  }


  @media (max-width: 56em) {
    .coins__bottom, .coins___head {
margin-left: 1rem;
    }
    .coins {
      padding: 0.5rem;
          }
          .coins__para{
            margin-top: 1rem;
            padding: 1rem;
          }
  }

  @media (max-width: 46em) {
    .coin__top {
      display: flex;
flex-direction: column;
    }
    .coiin {
      margin-left: 0rem;
      padding: 2rem;
    }
  }


  @media (max-width: 33em) {
    .coins__bottom, .coins___head {
      margin-left: 1rem;
      font-size: 1rem;
    }
    .coins__img {
      width: 1.5rem;
    }
    .coins__para {
    font-size: 1.2rem;
    }
    .coin__button {
      font-size: 1.2rem;
    }
    .coins {
    margin-bottom: 1rem;
    }
  }


  @media (max-width: 27em) {
    .coins__bottom, .coins___head {
      margin-left: 0rem;
      font-size: 0.8rem;
      margin-right: -2rem;
    }
    .coiin {
      padding: 0.5rem;
    }
    .coins {
      padding: 1rem;
          }
       .coins__img {
          margin-right: 0.5rem;
          }
          .coin__button {
            font-size: 1rem;
                   }
          .coins__para {
          padding: 0rem;
          }
  }

  

 

