.home {
  color: white;
  background-color: rgba(28, 28, 28, 0.3);
  padding: 2rem;
display: flex;
flex-direction: column;
height: fit-content;
border-radius: 2rem;

}
.home__home {
    display: flex;
    margin-top: 3rem;
font-size: 1.3rem;
flex-wrap: wrap;
align-items: center;
gap: 2rem;
justify-content: space-evenly;
}

/* 
@media (max-width: 33em) {
  .home__home {


  }
  .home__para{
flex: 1;
  }
  .home__div{
    flex-direction: row !important;
    width: 100%;
  }
} */